@font-face {
  font-family: 'KanYaMaKanLight';
  src: url('fonts/KanYaMaKanLight-Light.otf') format('opentype');
}

@font-face {
  font-family: 'KanYaMaKanRegular';
  src: url('fonts/KanYaMaKanFree-Regular.otf') format('opentype');
}

/* استخدام الخطوط */
body {
  font-family: 'KanYaMaKanLight', sans-serif; /* تغيير الخط */
}
h1, h2 {
  font-family: 'KanYaMaKanRegular', serif;
}


:root {
  /* Colors: */
  --main: rgb(161, 49, 201);
  --secondry: #77099F;
  --body: rgb(13, 5, 42);
  --white: #fff;
  --black: #000;
  --rate: #ffbb00;
  --muted-text: #848484;
  --card-bg: #F8F8F8;
  /* --card-raduis: 10px; */
  /* rgba */
  --mainOp: 161, 49, 201;
  --bodyOp: 13, 5, 42;
  --secondryOp: 254, 191, 9;
  --whiteOp: 255, 255, 255;
  --blackOp: 0, 0, 0;
  /* variables */
  --gutter-x: 8.5rem;
  --dir-multiplier: -1;
  --menu-offset: 280px;
}

[dir="ltr"] {
  --dir-multiplier: 1;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.35s linear;
  -webkit-transition: 0.35s linear;
  -moz-transition: 0.35s linear;
  -ms-transition: 0.35s linear;
  -o-transition: 0.35s linear;
  color: var(--white);
}

/* scrollbar */
::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondry);
  border-radius: 70px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.63);
}

/* select text */
::selection {
  color: var(--white);
  background-color: rgba(var(--mainOp), 0.75);
}

/* placeholder */
.form-floating label,
::placeholder {
  color: #b4b4b4 !important;
  font-size: 16px;
}


/* -- global -- */
body {
  background: var(--body);
}

[dir=rtl] [type=email],
[dir=rtl] body,
[type=number],
[type=tel],
[type=url] {
  direction: rtl !important
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

p {
  margin-bottom: 0rem !important;
  font-size: 22px;
}

a {
  text-decoration: none;
}

ul {
  padding: 0rem !important;
  list-style: none;
}

.container-fluid {
  --bs-gutter-x: var(--gutter-x) !important;
  padding-left: calc(var(--bs-gutter-x)* .5) !important;
  padding-right: calc(var(--bs-gutter-x)* .5) !important;
}


/* inputs */
.form-control {
  padding: 0.5rem 0.75rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--white) !important;
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 0.15rem;
  transition: 0.15s ease-in-out;
  box-shadow: none !important;
  -webkit-border-radius: 0.15rem;
  -moz-border-radius: 0.15rem;
  -ms-border-radius: 0.15rem;
  -o-border-radius: 0.15rem;
}

.form-control:focus {
  border: 1px solid var(--secondry) !important;
  outline: none !important;
}

.input-group .form-control:focus {
  border: none !important;
}

.input-group * {
  border: none !important;
  background: transparent !important;
}

.input-group {
  border-radius: 0.45rem;
  -webkit-border-radius: 0.45rem;
  -moz-border-radius: 0.45rem;
  -ms-border-radius: 0.45rem;
  -o-border-radius: 0.45rem;
  overflow: hidden;
}

.input-group:focus-within {
  border-color: var(--secondry) !important;
  overflow: hidden;
}

.main{
  background: #77099F;
  color: var(--white);
}

/* buttons */
.main-outline-btn,
.main-btn {
  border-radius: 2px;
  width: max-content;
  padding: 6px 40px;
  font-size: 21px;
  display: block;
  background: var(--secondry) !important;
  transition: all 0.3s ease-out;
  color: var(--white) !important;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.main-outline-btn {
  background: transparent !important;
  border: 1px solid var(--secondry);
  color: var(--secondry) !important;
}

.main-outline-btn:hover {
  background: var(--secondry) !important;
  color: var(--white) !important;
}

/* float link */
.link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}


/* == navbar == */
.navbar {
  position: relative;
  z-index: 2;
}


/* main-nav */
.navbar .navbar-brand img {
  width: 125px !important;
}


/* -- home page -- */
.header-hero-wrapper {
  position: relative;
  z-index: 9;
  background: url('../images/hero_img.png') var(--main);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  overflow: hidden;
}
#special{  
  color: var(--main);
}

.heroSec {
  padding-block: 5rem 10rem;
}



.Marquee {
  font-weight: 200;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.Marquee-content {
  display: flex;
  animation: marquee 12s linear infinite running;
  -webkit-animation: marquee 12s linear infinite running;
}
#services .Marquee-content {
  animation: marquee 32s linear infinite running;
  -webkit-animation: marquee 32s linear infinite running;
}
.Marquee-tag {
  padding: 0 1rem;
  width: max-content;
  font-size: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  position: relative;
}
.Marquee-tag::after{
  content: url(../images/star.svg);
  width: 5px;

}
@keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}
}
/* -- counter section -- */
.about-us{
  background: url('../images/about.png') var(--main);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.about-content{
  padding: 8rem 0;
}

.services{
  background: url('../images/serv_bg.png') ;
}
.services .card{
  border-color: var(--main);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.services .card-img-top{
  width: 44px;
}


.count-txt .counter {
  color: var(--secondry);
  font-size: 32px;
  font-weight: bold;
}
.count-txt{
  width: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: inset 0px 0px 30px #A131C9;
  margin:  0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.counters .count-txt .counter {
  color: transparent;
  text-shadow: 1px 1px 0 var(--white), -1px -1px 0 var(--main), 1px -1px 0 var(--main), -1px 1px 0 var(--main), 1px 1px 0 var(--main);
  font-size: 42px !important;
}


/* -- footer -- */
footer ul li {
  margin: 12px 0;
}

footer ul li a {
  font-size: 20px !important;
  /* font-weight: 500; */
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 8px;
}

footer li a:hover {
  color: #E4A7F9;
}


footer h4 {
  color: #E4A7F9;
}
.footer-links img{
  width: 130px;
}
.footer-links .approved img {
  width: 85px;
}
footer .sub-footer {
  padding: .75rem 0;
  font-size: 16px;
}

footer .sub-footer div > img{
  width: 52px;
}
footer .sub-footer > img {
  width: 280px;
}

/* footer .sub-footer span {
  color: rgb(var(--mainOp), .85);
} */

/* -- contactUs page -- */
.contactUs .contact-data {
  border-radius: var(--card-raduis);
  -webkit-border-radius: var(--card-raduis);
  -moz-border-radius: var(--card-raduis);
  -ms-border-radius: var(--card-raduis);
  -o-border-radius: var(--card-raduis);
  background: url(../images/contact.png);
  padding-inline-start: 4rem;
}
.contactUs .contact-data img{
  margin-top: -33px;
  margin-inline-start: 32px;
}

/* form */
.contactUs .contact-form {
  padding-block: 1rem;
  margin-inline-end: -32px;
}


@media (max-width: 991.8px) {
  :root {
    --gutter-x: 4rem;
  }
  .about-content{
    padding: 5rem 0;
    background: rgb(var(--bodyOp), .5);
  }

  /* footer */
  /* .footer-links .img-fluid {
    max-width: 288px;
  } */
  
  .contactUs .contact-data {
    padding-inline: 3rem;
  }
  .contactUs .contact-form {
    padding-block: 1rem;
    margin-inline-end: 0;
  }
  .contactUs .contact-data img {
    margin: 0 auto !important;
  }

}


@media (max-width: 576px) {
  :root {
    --gutter-x: 1.5rem;
  }

  .header-hero-wrapper {
    background-size: cover;
    background-position: right center;
  }
  .about-us {
    background-position: right top;
  }
  .contactUs .contact-data {
    padding-inline: 1rem;
  }
}